* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/fond.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}

.logo a img {
    max-width: 50px;
    height: auto;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
}

nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: background 0.6s ease, color 0.6s ease;
}

nav ul li a:hover,
nav ul li.active a {
    background: #fff;
    color: #000;
}

.principale {
    max-width: 114rem;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titre-logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.bouton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.bouton p {
    font-size: 24px;
}

.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer .social-links a {
    margin: 0 10px;
}
