* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/fond.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo a img {
    max-width: 80px; /* Ajustez cette valeur selon la taille souhaitée */
    height: auto;
    display: block;
    position: absolute;
    top: 10px; /* Ajustez cette valeur pour déplacer le logo verticalement */
    left: 30px; /* Ajustez cette valeur pour déplacer le logo horizontalement */
}

nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: background 0.6s ease, color 0.6s ease;
}

nav ul li a:hover,
nav ul li.active a {
    background: #fff;
    color: #000;
}

.principale {
    max-width: 114rem;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre {
    position: absolute;
    top: 47%; /* Ajustez cette valeur pour déplacer le logo verticalement */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer horizontalement */
    text-align: center;
}

.titre-logo {
    max-width: 200px; /* Ajustez cette valeur selon la taille souhaitée */
    height: auto;
    margin-bottom: 20px; /* Espace entre le logo et le texte */
}

.bouton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bouton a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    margin: 0 10px;
    transition: background 0.6s ease, color 0.6s ease;
    border-radius: 25px; /* Ajoutez cette ligne pour arrondir les bords */
    background-color: rgba(255, 255, 255, 0.1); /* Légère couleur de fond */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoutez une ombre */
    font-size: 1rem; /* Augmentez légèrement la taille de la police */
}

.bouton a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Augmentez l'ombre au survol */
}

.btn:hover {
    background-color: #fff; /* Couleur par défaut */
}

.fonctionnaire-btn:hover {
    background-color: #2B422D !important; /* Couleur spécifique pour Fonctionnaire */
    color: #fff;
}

.bandit-btn:hover {
    background-color: #8B0000 !important; /* Couleur rouge pour Bandit */
    color: #fff;
}

.welcome-text {
    font-family: 'Montserrat', sans-serif; /* Utilisation de la police Montserrat */
    font-size: 1.7rem; /* Ajustez la taille de la police selon vos préférences */
    margin: 10px 0; /* Ajoutez de l'espace entre les paragraphes */
}

#welcome {
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 65%; /* Ajustez cette valeur pour déplacer le texte verticalement */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#google-form-link {
    margin-top: 20px; /* Ajoutez cette ligne pour abaisser le bouton */
    display: inline-block;
}

.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer .social-links a {
    margin: 0 10px;
}
